body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/old_map.png");
}

.header {
    font-weight: bolder;
}

#clueText {
    text-transform: capitalize;
}

.clueBox {
    background-color: #cd7f32;
    color: white;
    border: #cd7f32 solid 1px;
    border-radius: 25px;
    margin-top: 20px;
    padding:10px;
}

.gameStatBox {
    background-color: #800000;
    color:white;
    border: #800000 solid 1px;
    border-radius: 25px;
    margin-top: 20px;
    padding:10px;
}

.winsLosses {
    color: black;
    padding: 0 2px 0 2px;
    border: solid 2px white;
    background-color: white;
    border-radius: 10%;
    font-weight: bold;
}

.message {
    color: black;
    border: solid 2px white;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 12px;
}

